<div class="form-page animate-in">
  <h2>■ EDITAR CLIENTE</h2>

  @if (erroBusca) {
    <div class="erro-msg">{{ erroBusca }}</div>
  }

  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form-container">
    <label>CÓDIGO:</label>
    <input formControlName="codigo" type="text" required />

    <label>Nome Completo:</label>
    <input formControlName="nomeCompleto" type="text" required />

    <label>Telefone:</label>
    <input formControlName="telefone" type="text" required />

    <label>Pontos XP:</label>
    <input formControlName="pontosXP" type="text" />

    <label>Ranking:</label>
    <select formControlName="ranking">
      <option value="">Selecione...</option>
      <option value="Iniciante">Iniciante</option>
      <option value="Gamer">Gamer</option>
      <option value="Veterano">Veterano</option>
      <option value="Colecionador">Colecionador</option>
    </select>

    <label>Item Alugado:</label>
    <input formControlName="itemAlugado" type="text" />

    <label>Data Devolução:</label>
    <input formControlName="dataDevolucao" type="date" />

    <div class="form-actions">
      <button type="submit" class="btn-salvar">ATUALIZAR</button>
      <button type="button" class="btn-cancelar" (click)="cancelar()">CANCELAR</button>
    </div>
  </form>
</div>
