<div class="form-page animate-in">
  <h2>■ EDITAR PRODUTO</h2>

  @if (erroBusca) {
    <div class="erro-msg">{{ erroBusca }}</div>
  }

  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form-container">
    <label>CÓDIGO:</label>
    <input formControlName="codigo" type="text" required />

    <label>Título:</label>
    <input formControlName="titulo" type="text" required />

    <label>Plataforma:</label>
    <input formControlName="plataforma" type="text" required />

    <label>Tipo de Item:</label>
    <input formControlName="tipoItem" type="text" required />

    <label>Ano de Lançamento:</label>
    <input formControlName="anoLancamento" type="text" required />

    <label>Condição:</label>
    <input formControlName="condicao" type="text" required />

    <label>Status:</label>
    <input formControlName="status" type="text" required />

    <div class="form-actions">
      <button type="submit" class="btn-salvar">ATUALIZAR</button>
      <button type="button" class="btn-cancelar" (click)="cancelar()">CANCELAR</button>
    </div>
  </form>
</div>
